# U.S. Medical Insurance Costs

Dataset has been provided publicly by https://www.kaggle.com/datasets/mirichoi0218/insurance

This is a python analysis project by @tylershienlim through codecademy's Data Scientist: Analytics learning path.

Data Analysis and cleaning, combined with a simple prediction model to predict insurace costs for patients.

In [15]:
#dependencies
import pandas as pd
import csv

In [16]:
#read file
df = pd.read_csv('insurance.csv')

### Initial Observation of dataframe

- no missing values in the dataset
- 4 different regions
- youngest person is age 18, oldest is age 64
- 3 columns of categorical values

In [17]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [18]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [19]:
df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [20]:
df.children.unique()

array([0, 1, 3, 2, 5, 4], dtype=int64)

### Further Observation into dataset

- there are 676 males, 662 females in this dataset (fairly balanced)
- male average insurance cost is 13956.75
- female average insurance cost is 12569.59

In [21]:
male = df[df['sex'] == 'male']
female = df[df['sex'] == 'female']

In [22]:
male.describe()

              age         bmi    children       charges
count  676.000000  676.000000  676.000000    676.000000
mean    38.917160   30.943129    1.115385  13956.751178
std     14.050141    6.140435    1.218986  12971.025915
min     18.000000   15.960000    0.000000   1121.873900
25%     26.000000   26.410000    0.000000   4619.134000
50%     39.000000   30.687500    1.000000   9369.615750
75%     51.000000   34.992500    2.000000  18989.590250
max     64.000000   53.130000    5.000000  62592.873090

In [23]:
female.describe()

              age         bmi    children       charges
count  662.000000  662.000000  662.000000    662.000000
mean    39.503021   30.377749    1.074018  12569.578844
std     14.054223    6.046023    1.192115  11128.703801
min     18.000000   16.815000    0.000000   1607.510100
25%     27.000000   26.125000    0.000000   4885.158700
50%     40.000000   30.107500    1.000000   9412.962500
75%     51.750000   34.313750    2.000000  14454.691825
max     64.000000   48.070000    5.000000  63770.428010

### Smokers vs Non-Smokers observations
 - 274 smokers, 1064 non smokers
 - smokers average insurance cost is 32050.23
 - non smokers average insurance cost is 8434
 - smoking highly correlated to higher insurance cost (?)

In [24]:
smoker = df[df['smoker'] == 'yes']
nonsmoker = df[df['smoker'] == 'no']

In [26]:
smoker.describe()

              age         bmi    children       charges
count  274.000000  274.000000  274.000000    274.000000
mean    38.514599   30.708449    1.113139  32050.231832
std     13.923186    6.318644    1.157066  11541.547176
min     18.000000   17.195000    0.000000  12829.455100
25%     27.000000   26.083750    0.000000  20826.244213
50%     38.000000   30.447500    1.000000  34456.348450
75%     49.000000   35.200000    2.000000  41019.207275
max     64.000000   52.580000    5.000000  63770.428010

In [27]:
nonsmoker.describe()

               age          bmi     children       charges
count  1064.000000  1064.000000  1064.000000   1064.000000
mean     39.385338    30.651795     1.090226   8434.268298
std      14.083410     6.043111     1.218136   5993.781819
min      18.000000    15.960000     0.000000   1121.873900
25%      26.750000    26.315000     0.000000   3986.438700
50%      40.000000    30.352500     1.000000   7345.405300
75%      52.000000    34.430000     2.000000  11362.887050
max      64.000000    53.130000     5.000000  36910.608030

Replace all categorical values into numerical values to make it easier for any further analysis/predictive model later on

In [28]:
df.sex = df.sex.replace({
    'female':0,
    'male':1
})
df.smoker = df.smoker.replace({
    'no':0,
    'yes':1
})
df.region = df.region.replace({
    'southwest':0,
    'southeast':1,
    'northwest':2,
    'northeast':3
})

# Exploratory Analysis
- Relationship between variables
- Any correlations between variables
- Etc.

Use data visualization for correlation between variables

# Prediction on insurance cost